PORT=4000
HOST='https://my-twitter-clone.com'
DB_NAME='twitter-dev'
DB_USERNAME=''
DB_PASSWORD=''
DB_TWEETS_COLLECTION='tweets'
DB_USERS_COLLECTION='users'
DB_HASHTAGS_COLLECTION='hashtags'
DB_BOOKMARKS_COLLECTION='bookmarks'
DB_LIKES_COLLECTION='likes'
DB_REFRESH_TOKENS_COLLECTION='refresh_tokens'
DB_FOLLOWERS_COLLECTION='followers'
DB_VIDEO_STATUS_COLLECTION='video_status'
DB_CONVERSATION_COLLECTION='conversations'
PASSWORD_SECRET=''
JWT_SECRET_ACCESS_TOKEN=''
JWT_SECRET_REFRESH_TOKEN=''
JWT_SECRET_EMAIL_VERIFY_TOKEN=''
JWT_SECRET_FORGOT_PASSWORD_TOKEN=''

# Nếu expireIn là số thì nó sẽ tính theo giây (nhưng lưu ý là value lấy ra từ env luôn là string, nên tốt nhất dùng giây thì ghi là '30s')
# Nếu expireIn là string thì phải quy định thêm các ký tự như 'm', 'h', 'd', 'w'
# string mà không quy định thì nó sẽ tính theo milisecond
REFRESH_TOKEN_EXPIRES_IN='100d'
ACCESS_TOKEN_EXPIRES_IN='1d'
EMAIL_VERIFY_TOKEN_EXPIRES_IN='7d'
FORGOT_PASSWORD_TOKEN_EXPIRES_IN='7d'

GOOGLE_CLIENT_ID=''
GOOGLE_CLIENT_SECRET=''
GOOGLE_REDIRECT_URI='http://localhost:4000/users/oauth/google'
CLIENT_REDIRECT_CALLBACK='http://localhost:3000/login/oauth'
CLIENT_URL='http://localhost:3000'

AWS_ACCESS_KEY_ID=''
AWS_SECRET_ACCESS_KEY=''
AWS_REGION='ap-southeast-1'
SES_FROM_ADDRESS='nvchien.dev@gmail.com'
S3_BUCKET_NAME='twitter-clone-ap-southeast-1'